<cfcomponent output="false">


<!--- ########## Oracle Variables ########## --->
<cfparam name="Request.DSN" default="cscie60">
<cfparam name="Request.username" default="arecalde">
<cfparam name="Request.password" default="9521">



<!--- ########## Name this application ########## --->
<cfset this.name="FinalProject">


<!--- ########## Turn on Session Management ########## --->
<cfset this.sessionManagement=true>


<!--- ########## Set Application Variables ########## --->
<cffunction name="onApplicationStart" output="false"
returnType="void">
<cfset Request.dataSource="cscie60">
<cfset Request.username="arecalde">
<cfset Request.password="9521">
<cfset Request.companyName = "Projects Database">
</cffunction>



<!--- ########## Protect the whole application --->
<cffunction name="onRequestStart" output="false" returnType="void">
<cfinclude template="forceUserLogin.cfm">
</cffunction> 
</cfcomponent>