<!DOCTYPE html>
<html>
<head>
    <cfinclude template = "./css/style.css">
</head>
<body>
    <cfparam name="projectName" default="Final Project" type="string">
    <cfinclude template = "header.cfm">

    	<h4>This is the public access index</h4>
<ul>
<li><a href="../final/index.cfm">MAIN INDEX</a></li>
<li><a href="polls.cfm">polls.cfm (public access)</a></li>
<li><a href="../final/login.cfm">Login</a></li>
<li><a href="../final/logout.cfm">Logout</a></li>
</ul>





    <cfinclude template = "footer.cfm">
</body>
</html>