<!DOCTYPE html>
<html>
<head>
    <cfinclude template = "./css/style.css">
</head>

<body onLoad="document.login.userLogin.focus();">

    <cfparam name="projectName" default="Final Project" type="string">
    <cfinclude template = "header.cfm">

    <cfset myaction="index.cfm">

    <H2>Please Log In</H2>
    -Default-<br>username: user<br>password: password<br><br>

    <cfform action="#myaction#" name="login" method="post" preservedata="yes">
            <table> 
                <tr> 
                    <td>user name:</td> 
                    <td><input type="text" name="userLogin"></td> 
                </tr> 
                <tr> 
                    <td>password:</td> 
                    <td><input type="password" name="userPassword"></td> 
                </tr> 
            </table> 
            <br> 
            <input type="submit" value="Log In"> 
    </cfform> 
    <br>
    <center><a href="../poll/index2.cfm">Back to Index</a></center>
</body>
</html>