<style type="text/css">

/* ###### Body Text ###### */

body {
  font-family: verdana, tahoma, helvetica, arial, sans-serif;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

form {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 50%;
}

table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  text-align: center;
  width: 85%;
  border: solid 1px;
  padding: 5px;
}

tr:nth-child(even) {
    background-color: #E8E8E8;
}

}

a {color: #33395a;} /* links - dark blue */
a:hover {color: #6f0736;} /* links - dark purple */

h1, h2 {
  background-color: #E0E0E0 ; 
  text-align: center;
}

h3, h4, h5, h6 {
  color: #33395a; /* dark blue */
  text-align: center;
}

ul {
  list-style-type: none;
  text-align: left;
}

img {
  border:1px solid #021a40;
}

.required {
  color:  #ff0000; /* red */
  font-size:  smaller;
}

.errorMsg {
  color:  #ff0000; /* red */
  font-weight: bold;
}

.highlight {
  background-color:  #5187D9; /* light blue */
  color:  #ffffff;
}

.wrapper {
  width: 60%;
  margin: auto;
  text-align: center;
}

.center {
  text-align: center;
}



</style>
