<!--- ########## Oracle Variables ########## --->
<cfparam name="Request.DSN" default="cscie60">
<cfparam name="Request.username" default="arecalde">
<cfparam name="Request.password" default="9521">