<!DOCTYPE html>
<html>

<head>
	<title>Show Project Tasks</title>
	<cfinclude template = "style.css">
</head>
<body>


<h1>PSET 4 - Project 2</h1>


<cfquery name="getProducts"
datasource="#Request.DSN#"
username="#Request.username#"
password="#Request.password#">
select productid, productname
from tbproduct
order by 2
</cfquery>



<div class="wrapper">
	<form action="showquotes.cfm" method="post">
	<table>
	<tr>
	<th>Product: </th>
	<td>
	<select name="productid">
	<cfoutput query="getProducts">
	<option value="#productid#">#productname#</option>
	</cfoutput>
	</select>
	</td>
	</tr>
	<tr>
	<td>&nbsp;</td>
	<td>
	<input name="submit" type="submit" Value="Display Quotes" />
	</td>
	</tr>
	</table>
	</form>
</div>

</body>
</html>